:root{
    --orange:#ff9600;
    --blue:#00a8f5;
    --pink:#f62da8;
}

* {margin: 0; padding: 0;}


body {
	font-family: 'Hind', sans-serif;
}

/********/
.button {
	display: 
		inline-block;
		text-align: center;
		text-decoration: none;
		color: white;
		font-size: 30pt;
		background: #38AEFF;
		width: 225px;
		height: 50px;
		border-radius: 5px;
		margin: 15px;
		margin-top: 0;
		padding-top: 5px;
		padding-bottom: 10px;
		-webkit-transition: 0.3s ease; 
    	transition: 0.3s ease;	
}

.button:hover{
	background-color: #2D8CCC;
}


/****MAIN LANDING PAGE****/
#landing {
	height: 100vh;
	width: 100%;
	background: url("../media/landing-placeholder.jpg"); 
}

	#ritlogo {
		display: block;
		margin: auto;
		padding-top: 25px;
	}

	#smileslogo {
		display: block;
		margin: auto;
	}

	#landing nav{
		margin: auto;
		text-align: center;
	}

	#landing a:hover{
		background-color: #2D8CCC;
	}

/****QUESTION SECTION****/
#thequestion {
	height: 50vh;
}

	#thequestion article{
		width: 900px;
		margin: auto;
		text-align: center;
		position: relative;
		top: 50px;
	}

    #thequestion h2{
        color: var(--orange);
    }

    #thequestion h3{
        color: var(--pink);
        font-size: 35pt;
    }

	#thequestion ul {
		margin: auto;
		text-align: center;
		position: relative;
		top: 100px;
	}

	#thequestion ul li{
		display: inline-block;
		padding: 5px;
	}

/****DATA COLLECTION SECTION****/
#datacollection {
	background-color: var(--orange);
	height: 450px;
	color: white;
}

	#datacollection article{
		width: 450px;
		margin-left: 175px;
		position: relative;
		top: 90px;
		float: left;
	}

	#datacollection img {
		float: right;
	}

	#datacollection p{
		margin-top:20px;

	}



/****DATA DISPLAY SECTION****/
#datadisplay {
	background-color: var(--pink);
	height: 450px;
	color: white;
}

	#datadisplay  article{
		width: 450px;
		margin-right: 175px;
		position: relative;
		top: 90px;
		float: right;
	}

	#datadisplay  img {
		float: left;
	}

	#datadisplay  p{
		margin-top:20px;
	}


/****PROCESS SECTION****/
#process {
    margin: auto;
    text-align: center;
}

    #processtitle{
        margin: 15px;
    }

        #processtitle h1{
            color: var(--orange);
            font-size: 20pt;
        }

        #processtitle h2{
            color: var(--pink);
            font-size: 24pt;
        }

	#process li{
		display: inline-block;	
        margin: 0px 10px 0px 10px; 
	}

	#process figcaption{
		width:300px;
	}

        #process figcaption h1 {
            color: var(--blue)
        }

/****GALLERY SECTION****/
#gallery {
    margin-top: 40px;
    position: relative;
}

	#gallerynav{
		position: absolute;
		top: 300px;
		left: 80%;
	}

		#gallerynav h1{
			color: var(--orange);
		}

		#gallerynav h2{
			color: var(--pink);
			font-size: 24pt;
		}

/****TEAM SECTION****/
#team {
    text-align: center;
    height: 100vh
}

    #teamtitle{
        position: relative;
        top: 50px;
    }

        #teamtitle h1{
            color: var(--orange); 
            font-size: 20pt;
        }

        #teamtitle h2{
           color: var(--pink);
            font-size: 30pt;
        }

    #team article{
        margin-top: 50px;
    }

    #team li{
        display: inline-block;	
        margin: 20px 40px 20px 40px; 
    }

    #team figcaption{
        font-size: 20pt;
        font-weight: bold;
        color: var(--blue);
    }